<aside>
  <!-- Logo --!>

  <nav>
    <ul>
      <li>
        <a>Example childless link</a>
      </li>

      <li>
        <a>
          Example parent link
        </a>

        <ul>
          <li><a>Example child link</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
